<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Recorded blood preasure</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Patient SSN</mat-label>
                <input matInput type="text" pattern="[0-9]*" [formControl]="patientSSN" placeholder="SSN">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Systolic</mat-label>
                <input matInput type="text" pattern="[0-9]*" [formControl]="systolic" placeholder="Systolic pressure">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Diastolic</mat-label>
                <input matInput type="text" pattern="[0-9]*" [formControl]="diastolic" placeholder="Diastolic pressure">
            </mat-form-field>
            <br>
            <mat-checkbox [formControl]="seen">Seen</mat-checkbox>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="SendMeasurement()">Ok</button>
        </mat-card-actions>
    </mat-card>    
</body>
