/* You can add global styles to this file, and also import other style files */
:root{
    --text-50: #eafaea;
    --text-100: #d5f6d5;
    --text-200: #acecac;
    --text-300: #82e382;
    --text-400: #59d959;
    --text-500: #2fd02f;
    --text-600: #26a626;
    --text-700: #1c7d1c;
    --text-800: #135313;
    --text-900: #092a09;
    --text-950: #051505;
    
    --background-50: #ebfbea;
    --background-100: #d7f7d4;
    --background-200: #afefa9;
    --background-300: #87e77e;
    --background-400: #5fde54;
    --background-500: #37d629;
    --background-600: #2cab21;
    --background-700: #218118;
    --background-800: #165610;
    --background-900: #0b2b08;
    --background-950: #061504;
    
    --primary-50: #eafbea;
    --primary-100: #d5f6d5;
    --primary-200: #acedab;
    --primary-300: #82e481;
    --primary-400: #59db57;
    --primary-500: #2fd22d;
    --primary-600: #26a824;
    --primary-700: #1c7e1b;
    --primary-800: #135412;
    --primary-900: #092a09;
    --primary-950: #051504;
    
    --secondary-50: #eaf6fb;
    --secondary-100: #d5eef6;
    --secondary-200: #abdded;
    --secondary-300: #81cbe4;
    --secondary-400: #57badb;
    --secondary-500: #2da9d2;
    --secondary-600: #2487a8;
    --secondary-700: #1b657e;
    --secondary-800: #124454;
    --secondary-900: #09222a;
    --secondary-950: #041115;
    
    --accent-50: #eaeffb;
    --accent-100: #d5dff6;
    --accent-200: #abbfed;
    --accent-300: #819fe4;
    --accent-400: #577edb;
    --accent-500: #2d5ed2;
    --accent-600: #244ba8;
    --accent-700: #1b397e;
    --accent-800: #122654;
    --accent-900: #09132a;
    --accent-950: #040915;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #061A06;
    background-color: #F0FCEF;
}
