h1{
    padding-top: 50px;
    margin: auto;
    width: 95%;
    font-size: 40px;
    font-weight: bolder;
}

mat-toolbar{
    background-color: var(--secondary-300);
    color: var(--text-900);
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

mat-card{
    min-width: 400px;
    background-color: var(--secondary-300);
    margin: auto;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    mat-card-title{
        width: auto;
    }

    mat-card-actions{
        padding: 0px 16px 0px 16px;

        button{
            background-color: var(--primary-300);
            color: var(--text-800);
            border-radius: 10px;
        }
    }

    div{
        display: flex;
        margin-top: 10px;

        p{
            font-size: 20px;
            font-weight: bolder;
            margin: 30px 5px;
            bottom: 11px;
            position: relative;
        }

        mat-form-field{
            width: 100%;
        }
    }
}